.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  place-items: center;
  justify-content: center;
}

.devHandles {
  /* background-color: aqua; */
  height: 80vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 5px solid;
  border-color: white;
}

.Intro p {
  font-size: 3vw;
}

.Intro h1 {
  font-size: 4vw;
}

.desc {
  font-size: 2vw;
}

.icons {
  display: flex;
  flex-direction: column;
}
.icon {
  transform: scale(1.8);
  transition: transform 2s;
  margin: 37px 0px;
  padding: 0.2em 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  transform: scale(2.2);
  background-color: rgb(51, 51, 56);
  color: rgb(219, 66, 91);
}

.devInfo {
  height: 80vh;
  width: 90vw;
  display: flex;
}

.Intro {
  /* background-color: rgb(116, 192, 192); */
  margin-top: 25px;
  padding: 40px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.IntroPic {
  /* background-color: rgb(4, 49, 49); */
  height: 80vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Image {
  width: 30vw;
}
.IntroPic h1 {
  font-size: 2vw;
  font-weight: 800;
}

@media screen and (max-width: 750px) {
  .devHandles {
    display: none;
  }
  .Intro {
    width: 100vw;
  }

  .Intro p {
    font-size: 6vw;
  }

  .Intro h1 {
    font-size: 8vw;
  }

  .desc {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1200px) {
  /* .quote {
    font-size: 25px;
  } */
}

@media screen and (max-width: 800px) {
  .IntroPic {
    display: none;
  }
  .Intro {
    width: 90vw;
  }

  .devHandles {
    width: 10vw;
  }
}
