@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@360&display=swap");
.app {
  background-color: rgb(36, 36, 39);
  font-family: "Source Code Pro", monospace;
  color: white;
}
